.boxContainer {
    border: 2px solid var(--secondary-blue);
    border-radius: 6px;
    padding: 16px;
    margin: 0 16px;
}

.boxTitle {
    font-weight: 600;
    font-size: 17px;
    padding: 0 12px;
    margin-left: 16px;
    color: var(--secondary-blue);
}

.layoutWrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
