.inputGroup {
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 100%;
}

.label {
    font-size: 14px;
    color: #111827;
    font-weight: 500;
}

.required {
    color: red;
}

.input,
.select {
    padding: 10px 12px;
    border: 1px solid #d1d5db;
    border-radius: 6px;
    font-size: 14px;
    outline: none;
    transition: border 0.2s ease;
    background-color: white;
    box-sizing: border-box;
    width: 100%;
}

.input:focus,
.select:focus {
    border-color: var(--secondary-blue);

    box-shadow: 0 0 0 0.1rem rgba(59, 130, 246, 0.25);
}

.select {
    appearance: none;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='currentColor'%3e%3cpath fill-rule='evenodd' d='M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z' clip-rule='evenodd' /%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 1.1em 1.1em;
    padding-right: 2.5rem;
}

.select::-ms-expand {
    display: none;
}
