.detailContainerHorizontal {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.detailItem {
    display: flex;
    gap: 15px;
    align-items: flex-start;
    margin-bottom: 10px;
    flex-basis: calc(33.33% - 20px);
}

.detailLabel {
    font-weight: 600;
    min-width: 150px;
}

.buttonGroup {
    margin-top: 30px;
    display: flex;
    gap: 20px;
    align-items: center;
    width: 100%;
    justify-content: flex-start;
}

.backButton {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    transition: text-decoration 0.3s ease, color 0.3s ease;
    font-size: 1rem;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #fff;
    font-weight: 600;
}

.backButton:hover {
    text-decoration: underline;
    color: #0056b3;
}

.backIcon {
    margin-right: 8px;
    font-size: 1.3em;
}

.editButton,
.acceptButton,
.rejectButton {
    display: flex !important ;
    justify-content: center !important;
    align-items: center !important;
    gap: 8px !important;
    padding: 12px 18px !important;
    border-radius: 8px !important;
    cursor: pointer !important;
    border: none !important;
    color: #fff !important;
    transition: background-color 0.3s ease, transform 0.2s ease-in-out !important;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1) !important;
}

.editButton:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

.editButton:active {
    transform: translateY(0);
}

.editButton svg {
    font-size: 1.2em;
}

.acceptButton {
    background-color: var(--primary-green) !important;
}
.rejectButton {
    background-color: var(--primary-red) !important;
}
