.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    align-items: start;
}

.gridItem {
    grid-column: span 1;
}

.buttonAction {
    padding: 0 10px !important;
    cursor: pointer !important;
}

@media (max-width: 900px) {
    .container {
        grid-template-columns: 1fr;
        gap: 16px;
    }
}
