:root {
    --primary-white: #ffffff;
    --primary-blue: #5c9ded;
    --primary-green: #6a994e;
    --primary-yellow: #eac435;
    --primary-red: #e70e02;
    --primary-black: #000;
    --secondary-grey: #d5d5d5;
    --secondary-blue: #0f4c81;
    --color-grey: #888;
}
